@import '~src/assets/scss/styles';

.post {
  .post-title {
    a {
      text-decoration: none;

      h1 {
        color: black;
        text-decoration: none;
        transition: opacity 0.1s linear;
      }

      &:hover {
        h1 {
          opacity: 0.5;
        }
      }
    }
  }

  .post-body {
    iframe {
      width: 100%;
      height: auto;
      border: 1px solid black;
    }

    .post-footer {
      font-style: italic;
    }
  }

  .post-meta {
    .post-meta-links {
      @include black-link;

      a {
        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
