@import '~src/assets/scss/styles';

header {
  position: sticky;
  top: 0;
  background-color: white;

  @media screen and (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
  }

  @media screen and (min-width: 992px) {
    width: 100%;
    border-right: 1px solid black;
    height: 100vh;
  }

  .header-title {
    @include black-link;
    font-size: 1.75rem;

    @media screen and (max-width: 991px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 0.5rem;
    }

    .navbar-toggle {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  form {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    @media screen and (max-width: 991px) {

    }

    @media screen and (min-width: 992px) {

    }

    input {
      border: 0;
      width: 100%;
      outline: 0;
    }
  }


  nav {
    ul {
      display: block;
      padding-left: 0;
      li {
        display: block;

        a {
          color: black;
          padding-left: 0;
          padding-right: 0;
          transition: opacity 0.1s linear, padding-left 0.1s linear;

          &:hover {
            opacity: 0.5;
          }

          &.active {
            background-color: black;
            color: white;
            font-weight: bold;
            padding-left: 0.5rem;
          }
        }
      }
    }
  }

  .header-tools {
    @include black-link;
  }

  .footer-info {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .header-bar {
    width: inherit;
    border-top: 1px solid black;
  }
}
