<h1 class="text-uppercase mb-3">Acerca de</h1>

<hr/>

<p>Esta aplicación está hecha para el diseño de un blog particular llamado <strong>En esto estuve</strong>, el
  cual puedes ver <a href="https://enestoestuve.tumblr.com" target="_blank">aquí</a>.</p>

<p>Lo que estás viendo es el diseño guía, para poder crear la adaptación de este diseño como plantilla en Tumblr.</p>

<p>Por dicho motivo, algunos pocos elementos que estás viendo (como la paginación, por ejemplo), están pensados como apariencia ideal, y no garantiza que todos pueden ser implementados en la plantilla misma.</p>
