<div class="social-networks">
  <a href="https://twitter.com/cristiancajiaos" target="_blank">
    <i class="fab fa-lg fa-twitter fa-fw"></i>
  </a>
  <a href="https://www.linkedin.com/in/cristiancajiaos" target="_blank">
    <i class="fab fa-lg fa-linkedin fa-fw"></i>
  </a>
  <a href="https://codepen.io/cristiancajiaos" target="_blank">
    <i class="fab fa-lg fa-codepen fa-fw"></i>
  </a>
  <a href="https://github.com/cristiancajiaos" target="_blank">
    <i class="fab fa-lg fa-github fa-fw"></i>
  </a>
</div>
<div class="d-flex flex-column">
  <small><i class="fas fa-envelope fa-fw"></i> cristian.cajiao@alumnos.usm.cl</small>
  <small>Cristian Cajiao Skarnic, &#169; {{currentDate.getFullYear()}}</small>
</div>

