<section class="tags">
  <section class="tags-title">
    <h1 class="text-uppercase font-weight-bold">
      <i class="fa fa-tags"></i> Tags:<br /><small>{{tag}}</small>
    </h1>
  </section>

  <hr/>

  <section class="tags-content">
    <div *ngIf="posts; else loading">
      <app-post
        *ngFor="let post of posts | paginate: {itemsPerPage: maxItemsPerPage, currentPage: page}"
        [post]="post"
        [showMore]="false">
      </app-post>

      <div class="pagination d-flex justify-content-center align-items-center">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          screenReaderPaginationLabel="Paginación"
          screenReaderPageLabel="Página"
          responsive="true"
          autoHide="true"
          (pageChange)="onPageChange($event)">
        </pagination-controls>
      </div>
    </div>
    <ng-template #loading>
      <i class="fas fa-spinner fa-spin fa-fw"></i> Cargando...
    </ng-template>
  </section>
</section>
