.search {
  margin-bottom: 1rem;

  .pagination {
    ul {
      padding-inline-start: 0;
      text-transform: uppercase;

      li {
        &.current {
          background-color: black;
        }
      }
    }
  }
}
